@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background: linear-gradient(to bottom, blue, white);
        color: #333;
        margin: 0;
        padding: 0;
    }

    #home-index {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1{
        color:white;
        font-size:100px;
        padding-top:30vh;
    }

    p {
        color: white;
    }
</style>
<div class="text-center" id="home-index">
    <h1 class="display-4"><b>WELCOME</b></h1>
</div>
