<style>
    body {
        background: linear-gradient(to bottom, white, blue);
        color: #333;
        margin: 0;
        padding: 0;
    }
</style>
<h1>You Got A Ticket</h1>
<th> <a class="btn btn-primary btn-user btn-block" asp-area="" asp-controller="Home" asp-action="Index">Home</a></th>
